body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  background-color: #f0efeb;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
