/* index.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  background-color: #f0efeb;
  overflow: hidden;

  /* 드래그 방지  */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
