/* index.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  background-color: #f0efeb;
  overflow: hidden;

  /* 드래그 방지  */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.other_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background-image: url("/2026_SMK_project/src/img_src/background_img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
