header {
  width: 100vw;
  height: auto;
  max-height: 115px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(240, 239, 235, 0.3);
  backdrop-filter: blur(10px);
  padding: 20px 0;
}

nav {
  width: calc(100% - 400px);
  height: 100%;
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "AkiraExpanded", sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.header_right {
  display: flex;
  gap: 100px;
  align-items: center;
}

.header_home {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.header_btn {
  color: #313131;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.header_btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: #d40004;
}
