/* work 컨테이너 */
.other_container {
  width: 100%;
  height: 100vh;
  background-image: url("/src/img_src/background_img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
